.idea
.vscode
.DS_Store
__pycache__/
*.py[cod]

data/
datasets/
*.pt
*.pth
*.log
*.pid
*.bak*
*.baseline_*

logs_dir/*
!logs_dir/.gitkeep
model_load_dir/*
!model_load_dir/.gitkeep
model_save_dir/*
!model_save_dir/.gitkeep
